@use "../../theme/colors.scss";
.cart-wrapper {
  .cart-button-action {
    position: relative;
    img {
      width: 30px;
    }

    .cart-badge {
      position: absolute;
      border-radius: 100%;
      padding: 4px 7px;
      bottom: 5px;
      right: 20px;
      background-color: colors.$FAILURE_COLOR;
      color: colors.$DEFAULT_LIGHT_COLOR;
    }
  }
}