.home-container {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  &,.movie-section {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }

  .movie-section {
    scroll-snap-align: center;
  }
}