@import "colors.scss";

html,
body,
#root {
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: $DEFAULT_LIGHT_COLOR;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}