$radius: 5px;
$defaultSpace: 8px;

@mixin defaultContainerPaddingTop {
  padding-top: 100px;
}

@function spacing($spaces...) {
  $spacesList: ();
  @each $space in $spaces {
    $spacesList: append($spacesList, $space * $defaultSpace);
  }
  
  @return $spacesList;
}