@use "../../theme/utils.scss";
@use "../../theme/colors.scss";
@use "../../theme/metrics.scss";

.movie-item {
  border: 1px solid rgba($color: #000000, $alpha: 0.1);
  border-radius: metrics.$radius;
  padding: metrics.spacing(2);
  gap: metrics.spacing(2);
  display: flex;

  @media screen and (max-width: 425px) {
    gap: metrics.spacing(1);
    flex-direction: column;
  }

  .movie-post-image {
    height: 200px;

    img {
      height: 100%;
    }
  }

  & .movie-post-image, .movie-information .title button {
    padding: 0;
    color: #000;
  }

  .movie-information {
    width: 100%;

    & h2,
    p {
      margin: 0;
    }

    .title {
      margin-bottom: metrics.spacing(1);
      @include utils.flexCenterVertical;
      justify-content: space-between
    }

    .date-ratio-info {
      @include utils.flexCenterVertical;
      gap: metrics.spacing(3);

      & .date,
      .ratio {
        @include utils.flexCenterVertical;
        gap: metrics.spacing(1);
      }
    }

    & .date-ratio-info {
      margin-bottom: metrics.spacing(2);

      @media screen and (max-width: 550px) {
        align-items: flex-start;
        gap: metrics.spacing(1);
        flex-direction: column;
      }
    }
  }
}