@use "../../theme/utils.scss";
@use "../../theme/metrics.scss";

@mixin web-navigation {
  @media (min-width: 693px) {
    @content
  }
}

.header-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;

  .header-content {
    @include utils.flexCenterVertical;
    padding: metrics.spacing(2, 0);
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    position: relative;
  
    & h2,
    img,
    button {
      color: white;
    }
  
    .logo-container {
      flex: 1;
      & a {
        @include utils.flexCenterVertical;
          gap: metrics.spacing(1);
        
          @include web-navigation {
            padding-left: metrics.spacing(3);
          }
        
          img {
            width: 30px;
          }
      }
    }
  
    .menu-mobile-btn {
      margin-right: metrics.spacing(1);
      padding-top: metrics.spacing(2.1);
    }

    & .menu-mobile-btn, .logo-container {
      z-index: 2;
    }
  
    .action-buttons {
      @include utils.flexCenterVertical;
      gap: spacing(2);
      z-index: 1;
  
      .navigation-mobile {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
      }
    }

    & a, .action-buttons a, .action-buttons button {
      &:hover {
        background-color: transparent;
      }
    }
  }
}