@use "../../theme/utils.scss";
@use "../../theme/colors.scss";
@use "../../theme/metrics.scss";

.movie-detail {
  &, .movie-principal-info-container {
    display: flex;
    flex-direction: column;
    gap: metrics.spacing(3);
  }

  .movie-principal-info-container {
    flex-direction: row;
  }

  .movie-info-list {
    color: white;
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: metrics.spacing(1);

      li {
        list-style-type: none;
      }
    }
  }

  .movie-post-image {
    flex: 1;
    img {
      width: 100%;
    }
  }

  .movie-content {
    display: flex;
    flex-direction: column;
    gap: metrics.spacing(2);
    width: 100%;

    .wish-button {
      margin-right: - metrics.spacing(2);
  
      &.wish-added {
        color: colors.$FAILURE_COLOR;
      }
    }

    .title {
      @include utils.flexCenterVertical;
      justify-content: space-between;
      gap: metrics.spacing(1);
      
      h2 {
        margin: 0;
        font-size: 28px;
      }
    }

    .sinopse, .title, .movie-info-list {
      color: white;
    }

    .sinopse, .comment {
      line-height: 1.7;
    }

    .review {
      ul {
        gap: metrics.spacing(3);
      }
      .review-item {
        display: flex;
        flex-direction: column;
        gap: metrics.spacing(1);
    
        .title h4 {
          margin: 0;
          font-weight: bold;
          font-size: 18px;
        }
      }
    }

    .genre {
      ul {
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
      }
      li {
        padding: metrics.spacing(1);
        border: 1px solid white;
        border-radius: metrics.$defaultRadius;
        &:last-child {
          margin-right: metrics.spacing(0);
        }
      }
    }
  }
}

.movie-discover-detail {
  .movie-content {
    .accordion-title,
    .genre ul li {
      border: none;
    }
  
    .genre ul li {
      padding: 0;
    }
  }
}
.movie-top-rated-detail {
  .accordion-title {
    padding: metrics.spacing(1, 2);
    border: 1px solid #6B6B6B;
    border-radius: metrics.$defaultRadius;
  }
}