@use "../../theme/utils.scss";
@use "../../theme/colors.scss";
@use "../../theme/metrics.scss";

.movie-detail {
  &, .movie-principal-info-container {
    display: flex;
    flex-direction: column;
    gap: metrics.spacing(3);
  }

  .movie-principal-info-container {
    flex-direction: row;
  }

  .movie-info-list {
    color: white;
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: metrics.spacing(2);

      li {
        list-style-type: none;
      }
    }
  }

  .movie-post-image {
    flex: 1;
    img {
      width: 100%;
    }
  }

  .movie-content {
    display: flex;
    flex-direction: column;
    gap: metrics.spacing(3);
    width: 100%;

    .wish-button {
      margin-right: - metrics.spacing(2);
  
      .wish-added {
        color: colors.$FAILURE_COLOR;
      }
    }

    .title {
      @include utils.flexCenterVertical;
      justify-content: space-between;
      gap: spacing(1);
      
      h2 {
        margin: 0;
      }
    }

    .sinopse, .title, .movie-info-list {
      color: white;
    }

    .genre {
      ul {
        flex-direction: row;
        align-items: flex-start;
      }
      li {
        padding: metrics.spacing(1);
        border: 1px solid white;
        border-radius: metrics.spacing(1);
        &:last-child {
          margin-right: metrics.spacing(0);
        }
      }
    }
  }
}

// .movie-DISCOVER-detail {
//   & h2, p, h4 {
//     font-family: 'Inter', sans-serif;
//   }
// }
// .movie-top-rated-detail {
//   & h2,
//   p,
//   h4 {
//     font-family: 'Poppins', sans-serif;
//   }
// }