@use "../../theme/metrics.scss";
@use "../../theme/media-queries.scss";

.page-wrapper {
  width: 100%;

  .page-content, .header-content {
    max-width: media-queries.$lg;
    margin: 0 auto;
  }

  .page-content {
    padding: metrics.spacing(3);
  }
}